@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');
p {
    font-family: "Lora", serif;
    font-size: 12pt;
    margin-top: 6px;
    margin-bottom: 6px;
    text-indent: 12px;
    text-align: justify;
    line-height: 1.25;
}
h1 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

#center {
    text-align: center;
}
#right {
    text-align: right;
}
#monospace {
    font-family: monospace;
}
